.home {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F6EBDA;
    background-image: url('./../../assets/imageBackground.png');
    background-repeat: no-repeat;
    background-position-x: right;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

a {
    color: #4D3608;
}

a:active {
    font-weight: 500;
}

a:link {
    font-size: 1.2vw;
    font-weight: 500;
    margin: 0 1vw 0 1vw;
    text-decoration: none;
}

a:link:hover {
    color: #FF902B;
    font-weight: 600;
}

.aImg {
    display: flex;
    margin: 0;
}

.products {
    margin: 2vw 10vw 1vw 0;
}

.content {
    display: flex;
    align-items: center;
}

.content img {
    width: 25vw;
}

.navbar {
    display: flex;
    align-items: center;
    margin: 6vw 18vw 6vw 0vw;
}

.navbar p {
    font-size: 1.2vw;
    font-weight: 600;
    margin: 0 18vw 0 1vw;
}

.textImage {
    flex: 1;
    color: #4D3608;
    font-size: 3vh;
    font-weight: 300;
    text-align: left;
    width: 45vw;
    word-break: break-word;
}

.textImage img {
    width: 13vw;
}

.mainText {
    font-size: 2.5vw;
    font-weight: 600;
    margin-bottom: 1vw;
}

.description {
    margin: 2vw 10vw 1vw 0;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #7E7C7C4D;
}

::-webkit-scrollbar-thumb {
    background-color: #00000080;
    border-radius: 5px;
}